@page "/Administracion/Maestro/Lista"
@using AcaEspacial.Models
@using AcaEspacial.Data
@using Microsoft.AspNetCore.Mvc
@using Microsoft.EntityFrameworkCore
@inject AcademiaContext Db
@inject IHttpContextAccessor httpContextAccessor
@using System.Security.Claims
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles ="Administrador")]

<div class="row">
    <div class="col-6 text-right">
        <a href="Administracion/Usuario/Crear" class="button is-primary">Crear Maestro</a>
    </div>
</div>
<br />

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Areas de Estudio</th>
            <th>Nucleos Acádemicos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Usuario in ListUsuarioRol)
        {
            <tr>
                <td>@Usuario.IDUsuarioNavigation.Nombre</td>
                <td>@Usuario.IDUsuarioNavigation.Apellido</td>
                <td>@Usuario.IDUsuarioNavigation.Username</td>
                <td>@Usuario.IDUsuarioNavigation.Correo</td>
                <td>@string.Join(", ",Usuario.IDUsuarioNavigation.MaestroArea.Select(x=>x.IDAreaNavigation.Nombre))</td>
                <td>@string.Join(", ",Usuario.IDUsuarioNavigation.MaestroAcademia.Select(x=>x.IDAcademiaNavigation.Nombre))</td>
                <td>
                    @if (luser.Contains(Usuario.IDUsuario))
                    {
                        <div class="dropdown is-active">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" @onclick=@(e=>DropdownAcciones(@Usuario.IDUsuario))>
                                    <span>Acciones</span>
                                    <span class="icon is-small">
                                        <i class="mdi mdi-chevron-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a class="dropdown-item" @onclick=@(e=> Editar(Usuario.IDUsuario))>
                                        Editar
                                    </a>
                                    @foreach (var p in Usuario.IDUsuarioNavigation.UsuarioEstatus)
                                    {
                                        if (p.IDEstatusNavigation.Codigo == 1000)
                                        {
                                            <a class="dropdown-item" @onclick=@(e=> ModificarEstatus(Usuario.IDUsuario))>
                                                Desactivar
                                            </a>
                                            <a class="dropdown-item" @onclick=@(e=> ModificarEstatus(Usuario.IDUsuario))>
                                                Activar
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" @onclick=@(e=>DropdownAcciones(@Usuario.IDUsuario))>
                                    <span>Acciones</span>
                                    <span class="icon is-small">
                                        <i class="mdi mdi-chevron-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a class="dropdown-item" @onclick=@(e=> Editar(Usuario.IDUsuario))>
                                        Editar
                                    </a>
                                    @foreach (var p in Usuario.IDUsuarioNavigation.UsuarioEstatus)
                                    {
                                        if (p.IDEstatusNavigation.Codigo == 1000)
                                        {
                                            <a class="dropdown-item" @onclick=@(e=> ModificarEstatus(Usuario.IDUsuario))>
                                                Desactivar
                                            </a>
                                            <a class="dropdown-item" @onclick=@(e=> ModificarEstatus(Usuario.IDUsuario))>
                                                Activar
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </td>

            </tr>

        }
    </tbody>
</table>

@code {

    private List<UsuarioRoles> ListUsuarioRol = new();

    private List<Guid> luser = new();

    private Guid UserID = new();

    protected override void OnInitialized()
    {
        if (httpContextAccessor.HttpContext != null)
        {
            UserID = Guid.Parse(httpContextAccessor.HttpContext.User.FindFirstValue(claimType: "IdUsuario"));

            ListUsuarioRol = Db.UsuarioRoles.Include(x => x.IDUsuarioNavigation).ThenInclude(x=> x.MaestroAcademia).ThenInclude(x=> x.IDAcademiaNavigation) 
            .Include(x => x.IDUsuarioNavigation).ThenInclude(x=> x.MaestroArea).ThenInclude(x=> x.IDAreaNavigation)
           .Include(x => x.IDRolNavigation)
           .Where(x => x.IDRolNavigation.Nombre.Equals("Profesor")).ToList();
        }

        base.OnInitialized();
    }

    private void ModificarEstatus(Guid Id)
    {
        var usd = Db.UsuarioEstatus.Include(x => x.IDEstatusNavigation).FirstOrDefault(x => x.IDUsuario.Equals(Id));
        if (usd.IDEstatusNavigation.Codigo.Equals(1000))
        {
            usd.IDEstatus = Db.Estatus.FirstOrDefault(x => x.Codigo.Equals(2000)).IDEstatus;
        }
        else
        {
            usd.IDEstatus = Db.Estatus.FirstOrDefault(x => x.Codigo.Equals(1000)).IDEstatus;
        }

        usd.ModifiedBy = UserID;
        usd.ModifiedOn = DateTime.Now;
        Db.UsuarioEstatus.Update(usd);
        Db.SaveChanges();

        StateHasChanged();
    }

    private void Editar(Guid ID)
    {
        NavigationManager.NavigateTo($"/Administracion/Maestro/Editar/{ID}", true);
    }


    private void DropdownAcciones(Guid id)
    {
        if (luser.Contains(id))
        {
            luser.Remove(id);
            StateHasChanged();
        }
        else
        {
            luser.Add(id);
            StateHasChanged();
        }
    }

}

