@page "/Administracion/Academia/Lista"
@using AcaEspacial.Models
@using AcaEspacial.Data
@using Microsoft.AspNetCore.Mvc
@using Microsoft.EntityFrameworkCore
@inject AcademiaContext Db
@inject IHttpContextAccessor httpContextAccessor
@using System.Security.Claims
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles ="Administrador")]

<div class="row">
    <div class="col-6 text-right">
        <a href="Administracion/Academia/Crear" class="button is-primary">Crear Academia</a>
    </div>
</div>
<br />

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Número de Telefono</th>
            <th>Código Academia</th>
            <th>Area</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var academias in listaAcademias)
        {
            <tr>
                <td>@academias.Nombre</td>
                <td>@academias.Correo</td>
                <td>@academias.NumeroTlfono</td>
                <td>@academias.CodigoAcademia</td>
                <td>
                    @string.Join(",",academias.AcademiaArea.Select(x=>x.IDAreaNavigation.Nombre))
                </td>
                <td>
                      @if (luser.Contains(academias.IDAcademia))
                    {
                        <div class="dropdown is-active">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" @onclick=@(e=>DropdownAcciones(@academias.IDAcademia))>
                                    <span>Acciones</span>
                                    <span class="icon is-small">
                                        <i class="mdi mdi-chevron-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a class="dropdown-item" @onclick=@(e=> Editar(academias.IDAcademia))>
                                        Editar
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" @onclick=@(e=>DropdownAcciones(academias.IDAcademia))>
                                    <span>Acciones</span>
                                    <span class="icon is-small">
                                        <i class="mdi mdi-chevron-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a class="dropdown-item" @onclick=@(e=> Editar(academias.IDAcademia))>
                                        Editar
                                    </a>
                                  </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    private List<Academias> listaAcademias = new();

    private List<Guid> luser = new();

    private Guid UserID = new();

    private void Editar(Guid ID)
    {
        NavigationManager.NavigateTo($"/Administracion/Academia/Editar/{ID}", true);
    }

    protected override void OnInitialized()
    {
        if (httpContextAccessor.HttpContext != null)
        {
            UserID = Guid.Parse(httpContextAccessor.HttpContext.User.FindFirstValue(claimType: "IdUsuario"));

            listaAcademias = Db.Academias.Include(x => x.AcademiaArea).ThenInclude(x => x.IDAreaNavigation)
            .Select(x => x).ToList();
        }

        base.OnInitialized();
    }

    private void DropdownAcciones(Guid id)
    {
        if (luser.Contains(id))
        {
            luser.Remove(id);
            StateHasChanged();
        }
        else
        {
            luser.Add(id);
            StateHasChanged();
        }
    }

}

